<br><b>1.</b> Зарегистрируйтесь в социальных сетях. Для хранения логинов, паролей и токенов создается каталог "токены". Переменные, в которых хранятся названия файлов логинов, паролей и токенов располагаются в начале главного файла "main.py".
<br>
<br><b>КАТАЛОГ <big>tokens:</big></b>
<br><code>token_vk</code> = <i>"token_vk.txt"</i> (оставить пустым)
<br><code>token_ip</code> = <i>"token_ip.txt"</i>
<br><code>token_pstn</code> = <i>"token_pstn.txt"</i> 
<br><code>token_ocd</code> = <i>"token_ocd.txt"</i>
<br><code>reserve_token_ocd</code> = <i>"token_ocd2.txt"</i>
<br><code>login_p_vk</code> = <i>"log_pas_vk.txt"</i>
<br><code>login_p_inst</code> = <i>"log_pas_inst.txt"</i>
<br><br><b>1.1 vk.com</b> Создайте 2 текстовых файла. В <i>"log_pas_vk.txt"</i> запишите через "пробел" логин и пароль от учетной записи, второй - <i>"token_vk.txt"</i>.
<br> При желании изменить названия файлов токенов, это можно сделать в главном файле main.py (если вы скачали из репозитория исходные файлы, а не релиз)
######
<br><br><b>1.2 instagram.com</b> Создайте текстовый файл (может находиться в папке - зависит от сборки) <i>"log_pas_inst.txt"</i>. Подобно предыдущим пунктам запишите в нем через "пробел" логин и пароль.
######
<br>_________________________________________________________
<br><br>2. Получение API-токенов других сервисов.
<br><b>2.1 https://htmlweb.ru</b> Данный сайт предоставляет информацию о телефонных номерах. Сохраните токен в текстовый файл <i>"token_pstn.txt"</i>.
<br>Ссылка: <i>https://htmlweb.ru/user/signup.php</i>
######
<br><b>2.2 https://www.opencellid.org</b> Данный сайт предоставляет информацию, связанную с координатами: прямое и обратное геокодирование, а также информация о базовых станциях по местоположению.
Сохраните токен в текстовый файл <i>"token_ocd.txt", "token_ocd2.txt"</i>.
<br>Ссылка: <i>https://htmlweb.ru/user/signup.php</i>
######
<br><b>2.3 https://ipinfo.io/</b> Данный сайт предоставляет информацию об IP-адресах. Регистрация необязательна, это лишь дополнительный источник, в модуле поиска информации по IP реализовано извлечение еще из 3 бесплатных сайтов.
Сохраните токен в текстовый файл <i>""token_ip.txt""</i>.
<br>Ссылка: <i>https://ipinfo.io/signup</i>